* {
    margin: 0;
    padding: 0;
    border: bored-box;

}

.fix {
    background-color: rgb(20, 25, 32);
    height: 60px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;





}

.amazon-logo {
    margin: 0 0 0 11px;
    padding: 4px 0 0;
    align-items: center;
    nav-down: 10px;
    padding-left: 7px;
    padding-right: 8px;
}


.border {
    border: 1.75px solid transparent;

}

.border:hover {
    border: 1.75px solid white;
}

.address {
    padding-left: 8px;


}

.deliver {
    color: #fff;
    padding-left: 15px;
    color: #b1b0b0;
}

.roorkee {
    display: flex;
    color: #fff;
}

.search {
    display: flex;

}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

    background-color: rgb(244, 192, 118);
    width: 50px;
    height: 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-amazon {
    width: 850px;
    height: 40px;
    border: none;
    font-size: 1rem;

}

.all {
    background-color: #f3f3f3;
    width: 52px;
    height: 40px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}



.hello {
    font-size: 12px;
    color: #dad7d7;

}

.list {
    color: rgb(223, 219, 219);
}

.sideline {
    color: #a7a5a5;
}

.sec-nav {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;


}



.language-container {
    position: relative;

}

.language-selector {

    padding: 8px 12px;
    cursor: pointer;
    color: white;

}

.language-list {
    display: none;

    position: absolute;
    top: 100%;

    left: 0;
    background-color: #faf9f9;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    color: rgb(8, 8, 8);
    z-index: 1;
    width: 150px;

}

.language-list li {
    padding: 5px 10px;
    cursor: pointer;
}

.language-list li:hover {
    background-color: #c1c1c1;
}

.language-container.active .language-list {
    display: block;
}



.india {
    width: 24px;

}

.ind {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;


}

.yes {
    padding-left: 3px;
    padding-right: 3px;

}

.no {
    padding-left: 10px;
    padding-right: 7px;

}

.cart {
    color: white;
    display: flex;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.cart1 {
    font-size: 1.9rem;
}

.card {
    height: 400px;
    width: 350px;
    border: 2px solid rgb(251, 251, 251);
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
    size: 13px;
    font-weight: 400;
}

.cardS {
    height: 120px;
    width: 350px;
    border: 2px solid rgb(251, 251, 251);
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding: 10px;
}


.shopping {

    display: flex;
    gap: 9px;
    align-items: center;
    justify-content: center;
}

.mini {
    padding: 20px;

}

.video2 {
    position: relative;
    justify-content: center;
    align-items: center;
    left: 22%;
}



.box {
    display: flex;
    gap: 20px;
}

main {
    background-color: rgb(228, 230, 230);
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 24px;
    cursor: pointer;
    background-color: rgb(37, 47, 61);
    color: white;
    text-align: right;
}




div ul {
    color: rgb(206, 212, 225);
}

.both {
    gap: 10px;
}

.today {
    width: 85vw;
    height: 300px;
    background-color: #fff;
}
.slideshow-container {
    position: relative;
    max-width: 100%;
}

.slides {
    display: flex;
    left: 5%;
    width: 90%;



}

.slide {
    display: none;

}


.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.prev {
    left: 0px;
}

.next {
    right: 0;
}

.slides {
    position: relative;

}

.slides::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(228, 230, 230, 0), rgba(228, 230, 230, 1));
}

.slides img {
    display: block;
    width: 100%;
    height: auto;
}


/* this is over the background image  */


.main {
    position: relative;

}

.image-row {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.image-row img {
    width: auto;
    height: 240px;
    margin-right: 10px;
}

.today {
    margin: 10px;
    padding: 10px;
}

.backtotop {
    width: 100%;
    height: 50px;
    background-color: rgb(58, 71, 88);
    color: white;
    justify-content: center;
    text-align: center;
    line-height: 50px;
    font-size: 13px;
    cursor: pointer;

}

.onerow {
    display: flex;
    justify-content: center;

}

.box {
    display: flex;
    justify-content: center;

}

footer {
    display: flex;
    background-color: rgb(37, 47, 61);
    width: 100%;
    height: 500px;
}


.foot {
    display: flex;
    justify-content: space-around;



}

.list {
    list-style: none;
}

.connect a {
    color: white;
}

.child {
    width: 450px;
    justify-content: center;

}

.fashion {
    justify-content: space-between;
   

}

.text-cover {
    width: 310px;
    height: 34px;
    overflow: hidden;
    font-size: 14px;
}

.laptopcover img {
    display: block;
    margin: auto;


}

.con {
    display: flex;
    padding: 5px;

}

.con1,
.con2 {
    padding: 10px 0 0;
    gap: 10px;

}

.sony img {
    display: block;
    margin: auto;

}

.boat {
    width: 310px;
    height: 34px;
    overflow: hidden;
    font-size: 14px;
}